#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$UBbHKgyLMNXBSWeJ$lQLVND5LnYm2SZe853OIeNLUzPVHGnnEiPFtZ.P661ZhDQdrHqTsiJCvYgVty.oy0ffN2HyDigE6ZUCXmjlgi0
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=Arohi --password=$6$n1yn7xiCGCg7oByA$DKIzyAI4Bjva3/Twl3T7Gn5ueS9FlW39BIjJ5.O30g6gAeDIyuHKm6TVweSHrZRwzxKQAS.OyPFYgez0wU4S3/ --iscrypted
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%packages
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
